@import variables
+font('Stratos-Regular', 'stratos-regular')
+font('Stratos-Medium', 'stratos-medium')
+font('Stratos-Bold', 'stratos-bold')

=fontSR
  font-family: 'Stratos-Regular', sans-serif
  font-style: normal
  font-weight: 400

=fontSM
  font-family: 'Stratos-Medium', sans-serif
  font-style: normal
  font-weight: 600
=fontSB
  font-family: 'Stratos-Bold', sans-serif
  font-style: normal
  font-weight: 700
::placeholder
    +fontSR
body
  +fontSR
  width: 100vw
  min-width: 320px
.out
  width: 100%

.wrapper
  width: 100%
  min-width: 320px
  padding: $basic-padding

h1
  +fontSB

button
  background-color: transparent

a
  text-decoration: none

.padding
  height: 75px
  margin-top: -20px
  background-color: $basic-background-color

*
  outline: none
  