+font('Stratos-SemiLight', 'stratos-semilight')
+font('Stratos-Regular', 'stratos-regular')
+font('Stratos-Bold', 'stratos-bold')

=fontSS
  font-family: 'Stratos-SemiLIght', sans-serif
  font-style: normal
  font-weight: normal
=fontSR
  font-family: 'Stratos-Regular', sans-serif
  font-style: normal
  font-weight: normal
=fontSB
  font-family: 'Stratos-Bold', sans-serif
  font-style: normal
  font-weight: normal

body
  +fontSS