---
title: Про нас
---
{% extends "layouts/_layout.html" %}

{% block content %}


<main class="about-us">
  <a href="index.html?back=true" class="product-page__arrow-btn">
    {{mixins.icon('arrow')}}
  </a>
  <div class="container">
    <div class="about-us__wrap js-about-us-wrap"></div>


    <!--        <div class="photos">-->
    <!--            <h3 class="photos__title">Фото з <a href="#">Instagram</a></h3>-->

    <!--            <div class="photos__list">-->

    <!--                <a href="#" class="photos__item">-->
    <!--                    <img src="./img/photo1.jpg" alt="якєсь фото">-->
    <!--                </a>-->

    <!--                <div class="photos__wrap">-->
    <!--                    <a href="#" class="photos__item">-->
    <!--                        <img src="./img/photo2.jpg" alt="якєсь фото">-->
    <!--                    </a>-->
    <!--                    <a href="#" class="photos__item">-->
    <!--                        <img src="./img/photo1.jpg" alt="якєсь фото">-->
    <!--                    </a>-->
    <!--                </div>-->

    <!--                <a href="#" class="photos__item">-->
    <!--                    <img src="./img/photo2.jpg" alt="якєсь фото">-->
    <!--                </a>-->

    <!--                <div class="photos__wrap">-->
    <!--                    <a href="#" class="photos__item">-->
    <!--                        <img src="./img/photo2.jpg" alt="якєсь фото">-->
    <!--                    </a>-->
    <!--                    <a href="#" class="photos__item">-->
    <!--                        <img src="./img/photo1.jpg" alt="якєсь фото">-->
    <!--                    </a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
  </div>
  <template class="template-about-us">
    <div>
      <h1 class="about-us__title"></h1>
      <p class="about-us__text"></p>
    </div>
  </template>

</main>

{% endblock %}
