---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}




{# partial example #}
{% include "partials/_main.html" %}
{% include "components/_burger-menu.html" %}

<template class="template-tab-title">
    <li tabindex="0">
        <div class="tabs__img-box">
            <img src="" tabindex="0" alt="Вкладка" class="tabs__img" width="48px" height="48px">
        </div>
        <p class="tabs__description js-tab-title"></p>
    </li>
</template>

<template class="template-tab-content">
    <li class="js-tabs__content">
    </li>
</template>

<template class="template-product-card">

    <li>
        <a href="index.html" class="product__card">
            <div class="product__img-box">
                <img src="" alt="Картинка" class="product__img js-product__img">
                <p class="product__type js-product__type"></p>
            </div>
            <div class="product__description">
                <div class="product__title-wrapper">
                    <img src="" alt="" class="product__icon js-product__icon" width="24" height="24">
                    <h4 class="product__title"></h4>
                </div>
                <p class="product__price js-product__price"></p>
            </div>
        </a>
    </li>

</template>

{% endblock %}