<footer class="footer">


    <button class="basket-btn js-basket-btn">
        <span class="basket-btn__count js-basket-count">0</span>
        <img src="./img/basket.png" alt="Корзина" class="basket-btn__img" width="45" height="45">
    </button>

    <div class="footer__basket basket js-basket">
        <div class="basket__overlay js-basket-overlay"></div>
        <div class="basket__content">
            <button class="basket__close js-basket-close">
                {{mixins.icon('close-button')}}
            </button>
            <header class="basket__header">
                <p class="basket__info"></p>
                <div class="basket__quantity">
                    <span>0</span>
                </div>
            </header>
            <div class="basket-cards js-basket-cards">
                {% include './basket-products/_basket-cards-list.html' %}
    
            </div>
            <div class="basket__total-amount js-total-amount">
                <span></span>
            </div>
            <form class="footer__form form" id="form-basket">
                <fieldset>
                    <legend class="form__legend">
                        Введіть ваші дані:
                    </legend>
                    <label for="basket-form-login">Ваше им'я:</label>
                    <input type="text" id="basket-form-login" class="form__input form__input--name" name="user_name"
                        placeholder="Ваше им'я">
                    <label for="basket-form-telephone">Ваш телефон:</label>
                    <input type="tel" id="basket-form-telephone" class="form__input form__input--tel" name="phone"
                        placeholder="Введіть ваш телефон:">
                    <label for="basket-form-email">Ваша пошта:</label>
                    <input type="email" id="basket-form-email" class="form__input form__input--email" name="email"
                        placeholder="Введіть ваш email">
                    <label for="basket-form-textarea">Коментар до замовлення:</label>
                    <textarea class="form__textarea" id="basket-form-textarea" cols="30" rows="7"
                        placeholder="Введіть коментар"></textarea>
                    <button type="submit" class="form__submit">Оформити замовлення</button>
                </fieldset>
    
            </form>

        </div>
    </div>
    <template class="template-basket-product-card">

        <li class="basket-cards__card js-basket-card">
            <button tabindex="0" type="button" data="+"
                class="basket-cards__button basket-cards__button--add  js-add-button">
                <span>{{mixins.icon('small-plus')}}</span>
                <p class="basket-cards__action">Додати</p>
            </button>
            <button tabindex="0" type="button" data="-"
                class="basket-cards__button basket-cards__button--delete js-delete-button">
                <span>{{mixins.icon('minus')}}</span>
                <p class="basket-cards__action">Видалити</p>
            </button>
            <button class="basket-cards__item">
                <input type="number" disabled value="" min="0" class="basket-cards__input">
                <p class="basket-cards__name"></p>
                <span class="basket-cards__price"></span>
            </button>
        </li>

    </template>
</footer>