<footer class="footer">
    <div class="footer__basket-btn basket-btn">
        <button class="basket-btn__button js-basket-btn">
            <span class="basket-btn__count">15</span>
            <img src="./img/basket.png" alt="Корзина" class="basket-btn__img" width="45" height="45">
        </button>
    </div>
    <div class="footer__basket basket js-basket">
        <button class="basket__close js-basket-close">
            {{mixins.icon('close-button')}}
        </button>
        <header class="basket__header">
            <p class="basket__info">
                Ваши покупки:
            </p>
            <div class="basket__quantity">
                <span>0</span>
            </div>
        </header>
        <div class="basket-cards js-basket-cards">
            <ul class="basket-cards__list">
                <li class="basket-cards__card js-basket-card">
                    <button class="basket-cards__item">
                        <p class="basket-cards__number">1 {{mixins.icon('close-button')}}</p>
                        <p class="basket-cards__name">Продукт 1</p>
                        <span class="basket-cards__price">60 ₴</span>
                    </button>
                    <button tabindex="0" class="basket-cards__button basket-cards__button--add  js-add-button">
                        <span>{{mixins.icon('small-plus')}}</span>
                        <p class="basket-cards__action">Добавить</p>
                    </button>
                    <button tabindex="0" class="basket-cards__button basket-cards__button--delete js-delete-button">
                        <span>{{mixins.icon('minus')}}</span>
                        <p class="basket-cards__action">Удалить</p>
                    </button>
                </li>
                <li class="basket-cards__card js-basket-card">
                    <button class="basket-cards__item">
                        <p class="basket-cards__number">1 {{mixins.icon('close-button')}}</p>
                        <p class="basket-cards__name">Продукт 1</p>
                        <span class="basket-cards__price">60 ₴</span>
                    </button>
                    <button tabindex="0" class="basket-cards__button basket-cards__button--add  js-add-button">
                        <span>{{mixins.icon('small-plus')}}</span>
                        <p class="basket-cards__action">Добавить</p>
                    </button>
                    <button tabindex="0" class="basket-cards__button basket-cards__button--delete js-delete-button">
                        <span>{{mixins.icon('minus')}}</span>
                        <p class="basket-cards__action">Удалить</p>
                    </button>
                </li>
                <li class="basket-cards__card js-basket-card">
                    <button class="basket-cards__item">
                        <p class="basket-cards__number">1 {{mixins.icon('close-button')}}</p>
                        <p class="basket-cards__name">Продукт 1</p>
                        <span class="basket-cards__price">60 ₴</span>
                    </button>
                    <button tabindex="0" class="basket-cards__button basket-cards__button--add  js-add-button">
                        <span>{{mixins.icon('small-plus')}}</span>
                        <p class="basket-cards__action">Добавить</p>
                    </button>
                    <button tabindex="0" class="basket-cards__button basket-cards__button--delete js-delete-button">
                        <span>{{mixins.icon('minus')}}</span>
                        <p class="basket-cards__action">Удалить</p>
                    </button>
                </li>

            </ul>

        </div>
        <form class="footer__form form">
            <fieldset>
                <legend class="form__legend">
                    Введите ваши данные:
                </legend>
                <input type="text" class="form__input form__input--name" placeholder="Введите ваше имя:">
                <input type="tel" class="form__input form__input--tel" placeholder="Введите ваш телефон:">
                <input type="email" class="form__input form__input--email" placeholder="Введите ваш email:">
                <textarea class="form__textarea" name="textarea" id="" cols="30" rows="7"
                    placeholder="Подробности заказа:">
</textarea>
                <input type="submit" class="form__submit" value="Отправить">
            </fieldset>

        </form>
    </div>
</footer>