<header class="header">
	<div class="header__in">
		<div class="header__menu">
			<button class="header__button header__button--burger js-burger-button">
				{{mixins.icon('burger')}}
			</button>
			<button class="header__button header__button--search">
				{{mixins.icon('search')}}
			</button>
			<a href="index.html" class="header__box">
				<h1 class="header__logo">
					Pastry Station 
				</h1>
				<p class="header__slogan">
					Якийсь довгий слоган
				</p>
			</a>
		</div>
	</div>

</header>
