<header class="page__header">
  <div class="header__in">
    <div class="header__menubar">
      {{mixins.icon('burger')}}
      <h1 class="header__title">
        Pastry-Station
      </h1>

      {{mixins.icon('search')}}
    </div>
    <nav class="header__tabs tabs">
      <ul class="tabs__list">
        <li class="tabs__item">
          <img src="../icons/popular.png" alt="popular tab icon" class="tabs__img" width="48px" height="48px">
          <p class="tabs__description">
            Популярное
          </p>
        </li>
        <li class="tabs__item">
          <img src="../icons/heart.png" alt="heart tab icon" class="tabs__img" width="48px" height="48px">
          <p class="tabs__description">
            Избранное
          </p>
        </li>
        <li class="tabs__item">
          <img src="../icons/breakfast.png" alt="breakfast tab icon" class="tabs__img" width="48px" height="48px">
          <p class="tabs__description">
            Завтраки
          </p>
        </li>
        <li class="tabs__item">
          <img src="../icons/croissant.png" alt="croissant tab icon" class="tabs__img" width="48px" height="48px">
          <p class="tabs__description">
            Выпечка
          </p>
        </li>
        <li class="tabs__item">
          <img src="../icons/coffee.png" alt="coffee tab icon" class="tabs__img" width="48px" height="48px">
          <p class="tabs__description">
            Кофе
          </p>
        </li>
        <li class="tabs__item">
          <img src="../icons/sandwich.png" alt="sandwich tab icon" class="tabs__img" width="48px" height="48px">
          <p class="tabs__description">
            Сэндвичи
          </p>
        </li>
      </ul>

    </nav>
  </div>
  
</header>