{% set 
tabs = [
{
name: 'Популярное',
imageUrl: './img/popular.png',
class: 'active'
},
{
name: 'Избранное',
imageUrl: './img/heart.png',
class: ''
},
{
name: 'Завтраки',
imageUrl: './img/breakfast.png',
class: ''
},
{
name: 'Выпечка',
imageUrl: './img/croissant.png',
class: ''
},
{
name: 'Кофе',
imageUrl: './img/coffee.png',
class: ''
},
{
name: 'Сендвич',
imageUrl: './img/sandwich.png',
class: ''
},
{
name: 'Салат',
imageUrl: './img/salad.png',
class: ''
},
{
name: 'Выпечка',
imageUrl: './img/bread.png',
class: ''
}
]
%}