@import ../variables
  
.tabs
  $this: & //!!!! $this = .tabs !!!!
  
  &__list
    display: flex
    align-items: center
    width: 100%
    overflow-x: auto
    white-space: nowrap
    padding: 8px 0 
    padding-bottom: 6px
    transition: box-shadow .4s ease
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25)
  &__item
    margin-left: 8px
    &:first-child
      margin-left: 16px
    &.is-active
      #{$this}__img-box // #{$this} -- используем обьявленную ранее переменную!
        background-color:#F9D953
        border-radius: 25%
      #{$this}__description
        color: $primary-text-color
        opacity: 1

  &__img-box
    position: relative
    width: 64px
    height: 64px
    display: -webkit-flex
    justify-content: center
    align-items: center
    font-size: 38px
    margin: 0 auto 
    margin-bottom: 4px

  &__description
    
    display: flex
    justify-content: center
    max-width: 72px
    text-align: center
    line-height: 16px
    opacity: 0.5
    font-size: $small-font-size
    color: $primary-text-color
    font-weight: bold

  