@import ../variables

.tabs
  $this: & //!!!! $this = .tabs !!!!
  margin-top: 10px
  overflow: auto
  outline: none
  z-index: 200
  &__list
    margin: 0
    padding: 8px 16px
    white-space: nowrap
    text-align: center
  &__tab
    display: inline-block
    position: relative
    cursor: pointer
    &:not(:first-child)
      margin-left: 8px

    &.active
      #{$this}__description
        color: black
  &__marker
    position: absolute
    z-index: -1
    top: 10px
    width: 64px
    height: 64px
    border-radius: 25%
    background-color: #F9D953!important
    transition: transform 0.5s, width 0.5s, background-color 0.5s

  &__img-box
    position: relative
    width: 64px
    height: 64px
    display: -webkit-flex
    justify-content: center
    align-items: center
    font-size: 38px
    margin: 0 auto
    margin-bottom: 4px
    
      

  &__img
    transition: all 0.4s ease-in-out
    &:focus
      transform: scale(1.1)

  &__description
    display: flex
    justify-content: center
    max-width: 72px
    text-align: center
    line-height: 16px
    font-size: $small-font-size
    color: $basic-text-color
    font-weight: bold
    &:focus
      color: $primary-text-color
