@import ../variables
.about-us
    padding: $basic-padding
    padding-top: 80px
    padding-bottom: 10px
    background-color: $basic-background-color
    &__wrap
        display: flex
        flex-direction: column
    &__title
        margin-bottom: 10px
    &__text
        margin-bottom: 10px
.photos
    &__title
        margin-bottom: 15px
        text-align: left
