@import ./variables
.about-main
    padding: $basic-padding
    padding-top: 80px
    background-color: $basic-background-color
    &__title
        margin-bottom: 10px
    &__text
        margin-bottom: 10px
    

.photos
    &__title
        margin-bottom: 15px
        text-align: left
