@import ../variables

.footer
	&__in
		display: flex
		align-items: center
		justify-content: center
		border-top-width: 3px
		border-top-color: rgba(0, 0, 0, 0.7) 
		margin: auto
		background-color: $basic-background-color
	&__basket
		transform: translateY(0)

