@import ../variables

.header__menu
  display: flex
  justify-content: space-between
  align-items: center
  padding: 4px 20px
  svg
    fill: $icons-color
    font-size: 24px

.header__title
  display: flex
  align-items: center
  justify-content: center
  font-size: $big-font
.header__slogan
  display: flex
  align-items: center
  justify-content: center
  font-size: 13px
  line-height: 16px
  font-weight: 300
  color: $text-color
  opacity: .75
