@import ../variables

body
	background-color: var(--body-bg)

.main
	width: 100%
	height: var(--app-height)
	padding-top: 170px
	padding-bottom: 75px
	&__in
		width: 100%
	&__tabs
		position: fixed
		top: 48px
		min-width: 320px
		width: 100%
		padding: 0
		background-color: #ffffff
	&__product
		margin-bottom: 20px
		width: 100%
	&__padding
		padding-bottom: 70px
		background-color: $basic-background-color
